$corbranco: #FFFF;
$corrosaprimario:#F71963;
$corcinza1:#9F9F9F;
$corcinza2:#F6F5F2;
$corcinza3: #F0F0F0;
$corpreta3:#4E4E4E;
$corpreta2:#3F3F40;
$corpreta1:#2A2A2A;
$corcinza2:#808080;
$corcinza4: #F0F0F0;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  overflow-y: scroll; 
 
}



 